---
import { getCollection } from "astro:content";
import MySiteLayout from "../layouts/MySiteLayout.astro";
import BlogPost from "../components/BlogPost.astro";
// const allPosts = Object.values(import.meta.glob("./posts/*.md", { eager: true }));
const allPosts = await getCollection("blog");
const pageTitle = "Blog";
---

<MySiteLayout title={pageTitle}>
	<section class="bg-white dark:bg-gray-900">
		<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
			<div class="grid md:grid-cols-2 gap-8">
				{
					allPosts.map((post: any) => (
						<BlogPost
							title={post.data.title}
							url={`/posts/${post.id}`}
							imagUrl={post.data.image.url}
							imgAlt={post.data.image.alt}
							description={post.data.description}
						/>
					))
				}
			</div>
		</div>
	</section>
</MySiteLayout>
